{% extends 'BatnaSiebelBundle::layout.html.twig' %}

{% block maintitle %}{{ 'ns.nsManagement'|trans([], 'BatnaSiebelBundle') }}{% endblock %}

{% block corps %}
<div class="container_12">
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'ns.nsView'|trans({}, 'BatnaSiebelBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
				<table>
				    <tbody>
				        <tr>
				            <th style="text-align:right;">{{ 'ns.enterprise'|trans([], 'BatnaSiebelBundle') }}&nbsp;:&nbsp;</th>
				            <td>{{ entity.enterprise }}</td>
				        </tr>
				        <tr>
				            <th style="text-align:right;">{{ 'ns.name'|trans([], 'BatnaSiebelBundle') }}&nbsp;:&nbsp;</th>
				            <td>{{ entity.name }}</td>
				        </tr>
				        <tr>
				            <th style="text-align:right;">{{ 'ns.fullname'|trans([], 'BatnaSiebelBundle') }}&nbsp;:&nbsp;</th>
				            <td>{{ entity.fullName }}</td>
				        </tr>
				        <tr>
				            <th style="text-align:right;">{{ 'ns.description'|trans([], 'BatnaSiebelBundle') }}&nbsp;:&nbsp;</th>
				            <td>{{ entity.description }}</td>
				        </tr>
				        <tr>
				            <th style="text-align:right;">{{ 'ns.enablestate'|trans([], 'BatnaSiebelBundle') }}&nbsp;:&nbsp;</th>
				            <td>{{ entity.enableState }}</td>
				        </tr>
				        <tr>
				            <th style="text-align:right;">{{ 'ns.subsystemname'|trans([], 'BatnaSiebelBundle') }}&nbsp;:&nbsp;</th>
				            <td>{{ entity.subsystemName }}</td>
				        </tr>
				        <tr>
				            <th style="text-align:right;">{{ 'ns.objectid'|trans([], 'BatnaSiebelBundle') }}&nbsp;:&nbsp;</th>
				            <td>{{ entity.objectId }}</td>
				        </tr>
				    </tbody>
				</table>
				<div class="block-actions">
					<ul class="actions-left">
						<li><a href="{{ path('ns') }}" class="button">{{ 'ns.backToTheList'|trans({}, 'BatnaSiebelBundle') }}</a></li>
					</ul>
					<ul class="actions-right">
						 <li>
					        <form action="{{ path('ns_delete', { 'id': entity.id }) }}" method="post">
					            {{ form_widget(delete_form) }}
					            <input type="submit" class="button red" onClick="if(confirm('{{ 'ns.confirmDelete'|trans({}, 'BatnaSiebelBundle') }}')) return true; else return false;" value="{{ 'ns.delete'|trans({}, 'BatnaSiebelBundle') }}" />
					        </form>
					    </li>
						<li><a href="{{ path('ns_edit', { 'id': entity.id }) }}" class="button">{{ 'ns.edit'|trans({}, 'BatnaSiebelBundle') }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'ns.listParams'|trans({}, 'BatnaSiebelBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
			{% if entity.parameters is empty %}
				<p>Aucun paramètre n'est définit pour le moment</p>
			{% else %}
				<table style="margin:10px">
				<tr>
					<td></td>
					<th>Paramètre</th>
					<th>Valeur</th>
				</tr>
				{% for parameter in entity.parameters %}
					<tr>
						<td>
							<form action="{{ path('ns_remove_parameter', {'id': entity.id }) }}" method="post">
								<input type="hidden" name="ns" value="{{ entity.id }}" />
								<input type="hidden" name="param" value="{{ parameter.0 }}" />
								<input type="hidden" name="value" value="{{ parameter.1 }}" />
								<input type=submit class="button red" value="{{ 'ns.delete'|trans({}, 'BatnaSiebelBundle') }}" />
							</form>
						</td>
						<td>{{ parameter.0 }}</td>
						<td>{{ parameter.1 }}</td>
					</tr>
				{% endfor %}
				</table>
			{% endif %}
				<fieldset>
					<label>Nouveau paramètre pour ce composant</label>
					<form action="{{ path('ns_add_parameter', {'id': entity.id }) }}" method="post">
						<table>
							<tr>
								<td>Paramètre : </td>
								<td>Valeur : </td>
							</tr>
							<tr>
								<td><input type="text" name="parameter" value="" /></td>
								<td><input type="text" name="value" value="" /></td>
								<td><input type="hidden" name="id" value="{{ entity.id }}" /><input type="submit" class="button" value="{{ 'ns.addParameterSubmit'|trans({}, 'BatnaSiebelBundle') }}" /></td>
							</tr>
						</table>
						</form>
				</fieldset>
			</div>
		</div>
	</div>
</div>

{% endblock %}