{% extends 'BatnaArchiBundle::layout.html.twig' %}

{%  block maintitle %}{{ 'context.contextManagement'|trans([], 'BatnaArchiBundle') }}{% endblock %}

{% block corps %}

<div class="container_12">
	<div class="grid_12">
		<div class="block-border">
			<div class="block-content">
				<p><em>INFO :</em> Souvent confondus avec un environnement, un contexte est ce qui encapsule un environnement. Les contextes permettent de connaître le rôle d'un environnement et de porter des variables qui lui sont propres. Les contextes les plus utilisés sont : développement, intégration, recette, préproduction et production, mais il est tout à fait possible d'en imaginer d'autres tels que non regréssion, montée en charge, ...</p>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
<div class="container_12">
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'context.contextList'|trans([], 'BatnaArchiBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
			{% if entities is empty %}
				<p>{{ 'context.noContext'|trans([], 'BatnaArchiBundle') }}</p>
			{% else %}
				<table style="margin:10px;">
				    <thead>
				        <tr>
				            <th>Actions</th>
				            <th>Name</th>
				        </tr>
				    </thead>
				    <tbody>
				    {% for entity in entities %}
				        <tr>
				            <td>
				            	<a href="{{ path('ctxt_show', { 'id': entity.id }) }}"><img src="{{ asset('img/icons/packs/fugue/16x16/magnifier.png') }}" /></a>
				                <a href="{{ path('ctxt_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/icons/packs/fugue/16x16/pencil.png') }}" /></a>
			            	</td>
				            <td>{{ entity.name }}</td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
				{% endif %}
				<div class="block-actions">
					<ul class="actions-left">
						<li><a href="{{ path('ctxt_new') }}" class="button">{{ 'context.newContext'|trans([], 'BatnaArchiBundle') }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% block variables %}
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'var.contextVarList'|trans([], 'BatnaArchiBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
			{% if variables is empty %}
			<p>Aucune variable de contexte n'est déclarée pour le moment.</p>
			{% else %}
				<table style="margin:10px;">
				    <thead>
				        <tr>
				            <th>{{ 'context.actions'|trans([], 'BatnaArchiBundle') }}</th>
				            <th>{{ 'context.name'|trans([], 'BatnaArchiBundle') }}</th>
				        </tr>
				    </thead>
				    <tbody>
				    {% for variable in variables %}
				        <tr>
				            <td>
				            	<a href="{{ path('varCon_show', { 'id': variable.id }) }}"><img src="{{ asset('img/icons/packs/fugue/16x16/magnifier.png') }}" /></a>
				                <a href="{{ path('varCon_edit', { 'id': variable.id }) }}"><img src="{{ asset('img/icons/packs/fugue/16x16/pencil.png') }}" /></a>
				          	</td>
				            <td>{{ variable.name }}</td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
				{% endif %}
				<div class="block-actions">
					<ul class="actions-left">
						<li><a href="{{ path('varCon_new') }}" class="button">{{ 'var.newVar'|trans([], 'BatnaArchiBundle') }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</div>

{% endblock %}