{% extends 'BatnaArchiBundle::layout.html.twig' %}

{%  block maintitle %}{{ 'context.contextManagement'|trans([], 'BatnaArchiBundle') }}{% endblock %}

{% block corps %}

<div class="container_12">
	<div class="grid_12">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'context.newContext'|trans([], 'BatnaArchiBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
				<form action="{{ path('ctxt_create') }}" method="post" {{ form_enctype(form) }}>
				    <div style="margin:10px">
				    	{{ form_widget(form) }}
					</div>
					<div class="block-actions">
						<ul class="actions-left">
							<li><a href="{{ path('ctxt') }}" class="button">{{ 'context.backToTheList'|trans([], 'BatnaArchiBundle') }}</a></li>
						</ul>
						<ul class="actions-right">
							<li><input type="submit" class="button" value="{{ 'context.create'|trans([], 'BatnaArchiBundle') }}" />
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}