{% extends 'BatnaSiebelBundle::layout.html.twig' %}

{%  block maintitle %}{{ 'ss.ssManagement'|trans([], 'BatnaSiebelBundle') }}{% endblock %}

{% block corps %}

<div class="container_12">
	<div class="grid_12">
		<div class="block-border">
			<div class="block-header">
				<h1>
				{% if es %}
					{{ 'ss.ssListByEnterprise'|trans([], 'BatnaSiebelBundle') }}{{ es.name }}
				{% else %}
					{{ 'ss.ssList'|trans([], 'BatnaSiebelBundle') }}
				{% endif %}
				</h1><span></span>
			</div>
			<div class="block-content">
			{% if entities is empty %}
			<p>{{ 'ss.noss'|trans([], 'BatnaSiebelBundle') }}</p>
			{% else %}
				<table style="margin:10px;">
				    <thead>
				        <tr>
				        	<th>{{ 'ss.etat'|trans([], 'BatnaSiebelBundle') }}</th>
				            <th>{{ 'ss.Actions'|trans([], 'BatnaSiebelBundle') }}</th>
				            <th>{{ 'ss.Enterprise'|trans([], 'BatnaSiebelBundle') }}</th>
				            <th>{{ 'ss.Name'|trans([], 'BatnaSiebelBundle') }}</th>
				            <th>{{ 'ss.Description'|trans([], 'BatnaSiebelBundle') }}</th>
				            <th>{{ 'ss.Fullname'|trans([], 'BatnaSiebelBundle') }}</th>
				            <th>{{ 'ss.Enablestate'|trans([], 'BatnaSiebelBundle') }}</th>
				            <th>{{ 'ss.Objectid'|trans([], 'BatnaSiebelBundle') }}</th>
				            <th>{{ 'ss.Version'|trans([], 'BatnaSiebelBundle') }}</th>
				        </tr>
				    </thead>
				    <tbody>
				    {% for entity in entities %}
				        <tr>
				        	<td style="text-align:bottom;"><img src="{{ asset(random(['img/icons/customs/started.png', 'img/icons/customs/handshakefailed.png', 'img/icons/customs/stopped.png'])) }}" height="20px;"/></td>
				            <td><a href="{{ path('ss_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/icons/packs/fugue/16x16/pencil.png') }}" /></a></td>
				            <td><a href="{{ path('es_show', { 'id': entity.enterprise.id }) }}">{{ entity.enterprise }}</a></td>
				            <td><a href="{{ path('ss_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
				            <td>{{ entity.description }}</td>
				            <td>{{ entity.fullName }}</td>
				            <td>{{ entity.enableState }}</td>
				            <td>{{ entity.objectId }}</td>
				            <td>{{ entity.version }}</td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
				{% endif %}
				<div class="block-actions">
					<ul class="actions-left">
						<li><a href="{{ path('ss_new') }}" class="button">{{ 'ss.newss'|trans([], 'BatnaSiebelBundle') }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}