{% extends 'FOSUserBundle::layout.html.twig' %}

{% block maintitle %}Création d'un groupe{% endblock %}

{% block corps %}
<div class="container_12">
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'group.groupList'|trans({}, 'BatnaUserBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
				<table class="table">
					<tr>
						<td>
							{{ 'group.show.name'|trans([], 'FOSUserBundle') }} :
						</td>
						<td>
							{{ group.getName() }}
						</td>
					</tr>
				</table>
				<div class="block-actions">
					<ul class="actions-left">
						<li><a href="{{ path('group') }}" class="button">{{ 'group.backToTheList'|trans({}, 'BatnaUserBundle') }}</a></li>
					</ul>
					<ul class="actions-right">
						<li>
							<form action="{{ path('group_delete', { 'id': group.id }) }}" method="get">
				            	<input type="submit" value="{{ 'group.delete'|trans({}, 'BatnaUserBundle') }}" class="button red">
				            </form>
			            </li>
			            <li>
			            	<a href="{{ path('group_edit', { 'id': group.id }) }}" class="button">{{ 'group.edit'|trans({}, 'BatnaUserBundle') }}</a>
			            </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'group.listRoles'|trans({}, 'BatnaUserBundle') }}</h1><span></span>
			</div>
				<div class="block-content">
					<table>
					{% for role in customGroupRoles %}
						<tr>
							<td>
								<a href="#" class="button">Hérité</a>
							</td>
							<td>{{ role }}</td>
						</tr>
					{% endfor %}
					{% for role in customRoles %}
						<tr>
							<td>
								{% if role != 'ROLE_USER' %}
								<form action="{{ path('group_remove_role', {'id': group.id }) }}" method="post">
									<input type="hidden" name="group" value="{{ group.id }}" />
									<input type="hidden" name="role" value="{{ role }}" />
									<input type=submit class="button red" value="{{ 'group.delete'|trans({}, 'BatnaUserBundle') }}" />
								</form>
								{% endif %}
							</td>
							<td>{{ role }}</td>
						</tr>
					{% endfor %}
					</table>
					<div class="block-actions">
						<ul class="actions-right">
							<li>
								<form action="{{ path('group_add_role', {'id': group.id }) }}" method="post">
								<select name="role">
								{% for role in roles %}
									<option>{{ role.name }}</option>
								{% endfor %}
								</select>
								<input type="hidden" name="id" value="{{ group.id }}" />
							</li>
							<li><input type="submit" class="button" value="{{ 'group.addRoleSubmit'|trans({}, 'BatnaUserBundle') }}" /></li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock corps %}
