{% extends 'BatnaArchiBundle:Environnement:index.html.twig' %}

{% block variables %}

<div class="grid_6">
	<div class="block-border">
		<div class="block-header">
			<h1>{{ 'var.newVar'|trans([], 'BatnaArchiBundle') }}</h1><span></span>
		</div>
		<div class="block-content">
			<form action="{{ path('varEnv_create') }}" method="post" {{ form_enctype(form) }}>
				<div style="margin:10px">
				    {{ form_widget(form) }}
				</div>
				<div class="block-actions">
					<ul class="actions-left">
					    <li>
					        <a href="{{ path('env') }}" class="button">{{ 'env.backToTheList'|trans({}, 'BatnaArchiBundle') }}</a>
					    </li>
					</ul>
					<ul class="actions-right">
						<li>
							<input type="submit" class="button" value="{{ 'env.create'|trans({}, 'BatnaArchiBundle') }}" />
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}