{% extends 'BatnaAlerteBundle::layout.html.twig' %}

{% block maintitle %}{{ 'context.contextManagement'|trans([], 'BatnaArchiBundle') }}{% endblock %}

{% block corps %}
<div class="container_12">
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'cat.indexTitle'|trans({}, 'BatnaAlerteBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
			{% if entities is empty %}
				<p>{{ 'cat.empty'|trans({}, 'BatnaAlerteBundle') }}</p>
			{% else %}
				<table id="table-cat" style="margin:10px">
				    <thead>
				        <tr>
				            <th>{{ 'cat.actions'|trans({}, 'BatnaAlerteBundle') }}</th>
				            <th>{{ 'cat.type'|trans({}, 'BatnaAlerteBundle') }}</th>
				            <th>{{ 'cat.libelle'|trans({}, 'BatnaAlerteBundle') }}</th>
				        </tr>
				    </thead>
				    <tbody>
				    {% for entity in entities %}
				        <tr>
				            <td>
				            	<a href="{{ path('cat_show', { 'id': entity.id }) }}"><img src="{{ asset('img/icons/packs/fugue/16x16/magnifier.png') }}" /></a>
				                <a href="{{ path('cat_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/icons/packs/fugue/16x16/pencil.png') }}" /></a>
				            </td>
				            <td>{{ entity.type }}</td>
				            <td>{{ entity.libelle }}</td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
				{% endif %}
				<div class="block-actions">
					<ul class="actions-left">
						<li><a href="{{ path('cat_new') }}" class="button">{{ 'cat.create'|trans({}, 'BatnaAlerteBundle') }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}