{% extends 'BatnaSiebelBundle::layout.html.twig' %}

{% block maintitle %}{{ 'gtw.gtwManagement'|trans([], 'BatnaSiebelBundle') }}{% endblock %}

{% block corps %}
<div class="container_12">
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'gtw.gtwEdit'|trans({}, 'BatnaSiebelBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
				<form action="{{ path('gtw_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
				    <div style="margin:10px;">
					{{ form_widget(edit_form) }}
					</div>
					<div class="block-actions">
						<ul class="actions-left">
							<li><a href="{{ path('gtw') }}" class="button">{{ 'gtw.backToTheList'|trans({}, 'BatnaSiebelBundle') }}</a></li>
						</ul>
						<ul class="actions-right">
							<li><input type="submit" class="button" value="{{ 'gtw.edit'|trans({}, 'BatnaSiebelBundle') }}" /></li>
							</form>
							<li>
						        <form action="{{ path('gtw_delete', { 'id': entity.id }) }}" method="post">
						            {{ form_widget(delete_form) }}
						            <input type="submit" class="button red" value="{{ 'gtw.delete'|trans({}, 'BatnaSiebelBundle') }}" />
						        </form>
						    </li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}