{% extends 'BatnaSiebelBundle::layout.html.twig' %}

{%  block maintitle %}{{ 'gtw.gtwManagement'|trans([], 'BatnaSiebelBundle') }}{% endblock %}

{% block corps %}

<div class="container_12">
	<div class="grid_6">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'gtw.newGtw'|trans([], 'BatnaSiebelBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
				<form action="{{ path('gtw_create') }}" method="post" {{ form_enctype(form) }}>
					<div style="margin:10px">
					    {{ form_widget(form) }}
					</div>    
					<div class="block-actions">
						<ul class="actions-left">
							<li><a href="{{ path('gtw') }}" class="button">{{ 'gtw.backToTheList'|trans([], 'BatnaSiebelBundle') }}</a></li>
						</ul>
						<ul class="actions-right">
							<li><input type="submit" class="button" value="{{ 'gtw.create'|trans([], 'BatnaSiebelBundle') }}" />
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
